---
/**
 * Tags Index - List of all tags
 */

import Layout from "../../layouts/Layout.astro";
import PageHeader from "../../components/PageHeader.astro";
import { getCollection } from "astro:content";
import "../../styles/tags.css";

const posts = await getCollection("blog", ({ data }) => !data.isDraft);
const tags = [...new Set(posts.flatMap((post) => post.data.tags))].sort();
---

<Layout title="Tags | fpl0" description="Browse posts by topic">
  <PageHeader />
  <main id="main-content" class="page-main">
    <header class="page-header">
      <h1>Tags</h1>
    </header>
    <ul class="tag-cloud">
      {
        tags.map((tag) => (
          <li class="tag-item">
            <a href={`/tags/${tag}`} class="tag-link">
              #{tag}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
